@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#18181C;;
}

.wrapper {
    width: 755.202px;
    height: 476.157px;
    border-radius: 47px;
    background: rgba(162, 162, 186, 0.2);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper h1{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 80px; /* 166.667% */
}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    background: #18181C;
    margin: 30px 0;
    border-radius: 30px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #18181C;
    border-radius: 20px;
    color: white;
    padding-left: 10px;
}

.input-box input::placeholder{
    color: white;
}

.wrapper .btn {
    width: 111px;
    height: 44px;
    border: 0;
    outline: 0;
    display: inline-flex;
    padding: 12px 28px;
    align-items: center;
    border-radius: 20px;
    background: var(--Main-Color, linear-gradient(93deg, #FF9898 0.48%, #8054FF 100%));
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 100% */
}

.wrapper .button-box{
    width: 100%;
    display: flex;
    justify-content: center;
}