<!DOCTYPE html>
<html lang="en">
  <head>
    <title>VigilEye</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <meta property="twitter:card" content="summary_large_image" />
    <link
      rel="shortcut icon"
      type="image"
      href="./public/external/image67614-yiph-300w.png"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="./style.css" />
    <div>
      <link href="./index.css" rel="stylesheet" />
      <div class="landingpage-container">
        <div class="landingpage-landingpage">
          <div class="landingpage-frame11">
            <img
              src="public/external/line12130-kw4e.svg"
              alt="Line12130"
              class="landingpage-line1"
            /><img
              src="public/external/rectangle261734-3ul-200h.png"
              alt="Rectangle261734"
              class="landingpage-rectangle26"
            /><img
              src="public/external/rectangle551734-4k6o-200h.png"
              alt="Rectangle551734"
              class="landingpage-rectangle55"
            /><img
              src="public/external/rectangle561734-tua-200h.png"
              alt="Rectangle561734"
              class="landingpage-rectangle56"
            />
            <div class="landingpage-group15">
              <img
                src="public/external/vector2122-n2ba.svg"
                alt="Vector2122"
                class="landingpage-vector"
              />
            </div>
            <img
              src="public/external/vector1734-cz7.svg"
              alt="Vector1734"
              class="landingpage-vector1"
            />
            <div class="landingpage-elements">
              <img
                src="public/external/vector1734-wmnh.svg"
                alt="Vector1734"
                class="landingpage-vector2"
              />
            </div>
            <span class="landingpage-text"
              ><span>VigilEye For a Safer Future</span></span
            ><span class="landingpage-text02"><span>Quick Links</span></span
            ><span class="landingpage-text04"><span>Subscribe</span></span
            ><span class="landingpage-text06"><span>Team</span></span
            ><span class="landingpage-text08"><span>Contact us</span></span
            ><span class="landingpage-text10"><span>Features</span></span
            ><span class="landingpage-text12"><span>Company</span></span
            ><span class="landingpage-text14"
              ><span>All Rights Reserved 2024</span></span
            ><span class="landingpage-text16"
              ><span>A Product of Sytem Zombies</span></span
            >
            <div class="landingpage-frame12">
              <span class="landingpage-text18"
                ><span>Enter your mail</span></span
              >
            </div>
            <div class="landingpage-frame13"></div>
            <img
              src="public/external/arrow12143-l7sg.svg"
              alt="Arrow12143"
              class="landingpage-arrow1"
            />
          </div>
          <img
            src="public/external/subtract1126-qs84.svg"
            alt="Subtract1126"
            class="landingpage-subtract"
          /><img
            src="public/external/ellipse143861-n64g-200h.png"
            alt="Ellipse143861"
            class="landingpage-ellipse14"
          /><img
            src="public/external/ellipse163862-6jnag-200h.png"
            alt="Ellipse163862"
            class="landingpage-ellipse16"
          /><img
            src="public/external/ellipse53863-2ttb-600h.png"
            alt="Ellipse53863"
            class="landingpage-ellipse5"
          /><span class="landingpage-text20"
            ><span>“Beyond Surveillance: </span><br /><span
              >Transforming CCTV into </span
            ><br /><span>Crime Prevention Tools”</span></span
          ><span class="landingpage-text26"><span>VigilEye</span></span
          ><img
            src="public/external/ellipse133865-puwc-200h.png"
            alt="Ellipse133865"
            class="landingpage-ellipse13"
          /><img
            src="public/external/ellipse153867-9g-300h.png"
            alt="Ellipse153867"
            class="landingpage-ellipse15"
          /><img
            src="public/external/ellipse172138-5y4-1600w.png"
            alt="Ellipse172138"
            class="landingpage-ellipse17"
          />
          <div class="landingpage-frame8">
            <a href="./login.html">
              <span class="landingpage-text28"
                ><span>POLICE LOGIN</span></span
              ></a
            >
          </div>
          <div class="landingpage-frame121">
            <span class="landingpage-text30"><span>CITIZEN PAGE</span></span>
          </div>
          <div class="landingpage-frame2"></div>
          <a href="login.html"
            ><span class="landingpage-text32">POLICE LOGIN</span></a
          ><img
            src="public/external/image23875-5da-600w.png"
            alt="image23875"
            class="landingpage-image2"
          />
          <div class="landingpage-group134">
            <span class="landingpage-text33"
              ><span
                >Advanced AI algorithms predict potential crimes based on
                vehicle tracking and suspicious activities</span
              ></span
            ><img
              src="public/external/rectangle261127-xkk-200h.png"
              alt="Rectangle261127"
              class="landingpage-rectangle261"
            /><span class="landingpage-text35"
              ><span>Automated Crime Prediction</span></span
            >
          </div>
          <img
            src="public/external/rectangle551127-t22t-400w.png"
            alt="Rectangle551127"
            class="landingpage-rectangle551"
          /><span class="landingpage-text37"
            ><span
              >Providing insights into local crime trends and empowering
              citizens with knowledge for proactive safety measures.</span
            ></span
          ><img
            src="public/external/rectangle561128-xsth-200h.png"
            alt="Rectangle561128"
            class="landingpage-rectangle561"
          /><span class="landingpage-text39"
            ><span>Enhanced Public Awareness</span></span
          ><img
            src="public/external/rectangle571128-wxja-400w.png"
            alt="Rectangle571128"
            class="landingpage-rectangle57"
          /><span class="landingpage-text41"
            ><span
              >Utilizing CCTV footage for instant crime identification and
              notification to authorities.</span
            ></span
          ><img
            src="public/external/rectangle581128-8s7f-200h.png"
            alt="Rectangle581128"
            class="landingpage-rectangle58"
          /><span class="landingpage-text43"
            ><span>Real-time Crime Detection:</span></span
          ><img
            src="public/external/rectangle591128-1i2-400w.png"
            alt="Rectangle591128"
            class="landingpage-rectangle59"
          /><span class="landingpage-text45"
            ><span
              >Interactive map displaying crime hotspots and allowing public
              reporting for safer communities.</span
            ><br /><span></span></span
          ><img
            src="public/external/rectangle601128-9aw5-200h.png"
            alt="Rectangle601128"
            class="landingpage-rectangle60"
          /><span class="landingpage-text49"
            ><span>Citizen Engagement</span></span
          ><img
            src="public/external/rectangle611129-rky-400w.png"
            alt="Rectangle611129"
            class="landingpage-rectangle61"
          /><span class="landingpage-text51"
            ><span
              >Integration of LSTM technology for swift recognition and
              reporting of kidnapping incidents.</span
            ></span
          ><img
            src="public/external/rectangle621129-bj0p-200h.png"
            alt="Rectangle621129"
            class="landingpage-rectangle62"
          /><span class="landingpage-text53"
            ><span>Kidnap Recognition</span></span
          ><img
            src="public/external/rectangle631129-adfs-400w.png"
            alt="Rectangle631129"
            class="landingpage-rectangle63"
          /><span class="landingpage-text55"
            ><span
              >Utilizing camera communication for precise criminal tracing
              without physical GPS.</span
            ></span
          ><img
            src="public/external/rectangle641129-t2wp-200h.png"
            alt="Rectangle641129"
            class="landingpage-rectangle64"
          /><span class="landingpage-text57"
            ><span>Triangulation Tracking</span></span
          ><img
            src="public/external/untitleddesign411531-m79l-200h.png"
            alt="Untitleddesign411531"
            class="landingpage-untitleddesign41"
          /><img
            src="public/external/image31732-f9i-200h.png"
            alt="image31732"
            class="landingpage-image3"
          /><img
            src="public/external/untitleddesign711737-pye-200h.png"
            alt="Untitleddesign711737"
            class="landingpage-untitleddesign71"
          /><img
            src="public/external/image61126-vvu-600w.png"
            alt="IMAGE61126"
            class="landingpage-image6"
          /><img
            src="public/external/rectangle361737-y1y-400h.png"
            alt="Rectangle361737"
            class="landingpage-rectangle36"
          /><span class="landingpage-text59"
            ><span>Meet the Team : System Zombies</span></span
          ><span class="landingpage-text61"
            ><span>SHARAD L</span><br /><span>ECE, SVCE</span></span
          ><span class="landingpage-text65"
            ><span>PRAGATHEESHWAR</span><br /><span>IT, SVCE</span></span
          ><span class="landingpage-text69"
            ><span>ABINESHWAR G</span><br /><span>CSE, SVCE</span></span
          ><img
            src="public/external/rectangle69194-t3a-200w.png"
            alt="Rectangle69194"
            class="landingpage-rectangle69"
          /><img
            src="public/external/rectangle70197-l9o-200w.png"
            alt="Rectangle70197"
            class="landingpage-rectangle70"
          /><img
            src="public/external/rectangle71198-w3p-200w.png"
            alt="Rectangle71198"
            class="landingpage-rectangle71"
          /><img
            src="public/external/image42017-rsvd-200h.png"
            alt="image42017"
            class="landingpage-image41"
          /><img
            src="public/external/image67614-yiph-300w.png"
            alt="image67614"
            class="landingpage-image61"
          /><img
            src="public/external/image67614-yiph-300w.png"
            alt="image67614"
            class="landingpage-image62"
          /><span class="landingpage-text73">Features</span>
        </div>
      </div>
    </div>
  </body>
</html>
